[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
Django = "*"
Markdown = "*"
psycopg2 = "*"
djangorestframework = "*"
django-environ = "*"
whitenoise = "*"
gunicorn = "*"
django-markdown2 = "*"
django-tailwind = "*"
[dev-packages]
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.8"
